:root {
    --primaryColor: rgb(99, 99, 99);
    --secondaryColor: rgba(2, 110, 173, 0.75); 
    --tertiaryColor: rgb(0, 0, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d3d3d3;
    color: var(--tertiaryColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Styling Starts */
header {
    background: var(--primaryColor);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nameLogo {
    padding: 5px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    padding-left: 100px;
    border-radius: 0px 5px 5px 0px;

}
header img {
    max-width: 75px;
    float: left;
    border-radius: 50%;
}
header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}
header a {
    text-decoration: none;
    color: var(--tertiaryColor);
}
header nav {
    margin: auto 20px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px;
    margin: 40px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 2px solid var(--secondaryColor);
}
/* Header styling Ends */

/* About Me (and other sections) Styling Starts */
.aboutMe, .myWork {
    display: flex;
    margin: 50px auto;
    width: 75%;
    line-height: 1.5;

}
.aboutMe h2, .myWork h2 {
    margin-right: 50px;
    width: 120px;
    font-size: 36px;
    padding-right: 10px;
    padding-bottom: auto;
    border-right: 5px solid var(--secondaryColor);
    float: right;
    text-align: right;
    position: relative;
}
.about-me-text  {
    display: flex;
    line-height: 1.7;
    /* width: 80%; */
    font-size: 20px;
    margin: auto 40px;
    text-align: left;
    flex-flow: column;
}
.aboutMe p {
    line-height: ;
}
/* About Me Styling Ends */

/* My Work Styling Starts */
.workRefrences {
    margin: auto 40px;
}

.workImg1 img {
    width: 800px;
    height: 500px;
}
.run-buddy img, .workImg2 img, .workImg3 img, .workImg4 img, .workImg5 img {
    width: 400px;
    height: 400;
}
