:root {
    --primaryColor: rgb(99, 99, 99);
    --secondaryColor: rgb(3, 148, 232); 
    --tertiaryColor: rgb(0, 0, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d3d3d3;
    color: var(--tertiaryColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Styling Starts */
header {
    background: var(--primaryColor);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nameLogo {
    padding: 5px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    padding-left: 100px;
    border-radius: 0px 5px 5px 0px;

}
header img {
    max-width: 75px;
    float: left;
    border-radius: 50%;
}
header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}
header a {
    text-decoration: none;
    color: var(--tertiaryColor);
}
header nav {
    margin: auto 20px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px;
    margin: 40px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 2px solid var(--secondaryColor);
}
/* Header styling Ends */

/* Section Styling Starts */
.aboutMe, .myWork, .contactMe {
    display: flex;
    margin: 50px auto;
    width: 65%;
    line-height: 1.5;
}
.sidebar {
    margin-right: 30px;
    width: 120px;
    font-size: 36px;
    padding-right: 10px;
    border-right: 5px solid var(--secondaryColor);
    text-align: right;
}
.about-me-text  {
    line-height: 1.7;
    font-size: 20px;
    margin: auto 40px;
    text-align: left;
    flex-flow: column;
}

.workRefrences {
    margin: auto 40px;
    display: flex;
    flex-flow: column;
}
.imgcontainer1, .imgcontainer2 {
    display: flex;
    flex: auto;
}

.imgcontainer1 img {
    width: 1000px;
    height: 500px;
}
.imgcontainer2 img {
    width: 490px;
    height: 250px;
    margin: 10px 0 5px 0;
}
.workRefrences img {
    border: 5px solid var(--secondaryColor);
}
.img-floatleft {
    float: left;
}
.img-floatright {
    float: right;
}
.imgtext1, .imgtext2 {
    position: absolute;
    background-color: var(--secondaryColor);
    text-align: right;
    padding-right: 5px;
    padding-left: 15px;  
}
.imgtext1 {
    margin-top: 300px;
}
.imgtext2 {
    margin-top: 150px;
}
.imgtext1 h3, .imgtext2 h3 {
    font-size: 26px;
    font-weight: bold;
}
.imgtext1 h4, .imgtext2 h4 {
    font-size: 18px;
    font-weight: lighter;
}
.contactbox {
    margin: auto;
}
.contactMe a { 
    padding: 50px; 
    font-size: 26px;
}


/* Media query for smaller screens */
@media screen and (max-width: 980px) {
    header {
        width: 100%;
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    body {
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        width: 100%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .aboutMe, .contactMe, .myWork {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 575px) {
    
}